<%inherit file='/layout.htm' />

<div class='content'>
<h1>Welcome to <span class='site_name'>Will I Die Poor</span></h1>
<p>
Will I Die Poor helps you validate that your retirement plan will accomplish its goal.
While acknowledging the uncertainty in life expectancy and investment returns, the calculator takes what you know about your savings and investment plan and gives you a percent likelihood of dying poor.
</p>

<p class='actions'>
	<a href='/useit'>Click here to start</a>
</p>

<h1><span class='site_name'>Will I Die Poor</span> tells you...</h1>
	<figure style='width:intrinsic;'>
		<img style='width:35%;display:inline;float:right;margin:8px;' src='/static/graph.png' />
	</figure>
<ul>
<li>the likelihood that your savings will run out before you die<span class='legend'>&#127344;</span>. Assuming you don't have any assets beyond what you have entered, this is the likelihood that you will die poor.</li>
<li style='padding-top:10px;'>the ages at which you are likely to die wealthy<span class='legend'>&#127345;</span> and to die poor<span class='legend'>&#127346;</span>. This is shown in an area graph. The area represents all of your possible futures. Area to the left represents futures in which you die young. Area to the right represents futures in which you live long. Area above the horizontal axis represents futures in which you die with savings remaining. Area below the horizontal axis represents futures in which you go broke before you die.</li>
<li>details about specific ages. Click or tap on the graph to see...
	<ul>
	<li>the likelihood of still being alive at a certain age.</li>
	<li>the likelihood of still having money at a certain age.</li>
	<li>the expected savings remaining at the selection age. This is the average amount of money you will have in the cases where you have not run out of savings.</li>
	<li>
		the distribution of possible savings amounts at the selection age. This is shown in a vertical chart with darker shades representing likelier amounts.
		<div class='aside'><span class='beaware'>Notice that</span>: Farther into the future the possible values spread out drastically. Some level of uncertainty can only be reduced by allowing time to pass. Living several years according to a plan while earning average investment returns may change a 10% chance of dying poor into a 1% chance of dying poor. On the other hand, the chance of dying poor may increase due to lower investment returns. It is important to strike a balance between choosing a plan that is likely to succeed and choosing a plan that can be altered before it is too late when things don't go ideally early on.</div>
	</li>
	</ul>
</li>
</ul>

<h1>You will need to enter...</h1>
<ul>
<li>your life expectancy. Life expectancy depends on current age, location, sex, health, and many other factors. You can use one of the many life expectancy calculators available online to determine your life expectancy.
<div class='aside'>
	<p><span class='beaware'>Be Aware</span>: Many life expectancy calculators use the latest morality rates to calculate life expectancies. Although we don't know future mortality rates, mortality rates have consistently decreased until now.</p>
	<p>The life expectancy for a 50-year-old in Canada using StatsCan's latest published mortality rates is 83 years and 5 months. The life expectancy calculated using mortality rates assumed to continue to decrease at the same rate into the future is 86 years and 2 months<a class='footnote' href='#footnote1'>[1]</a>.</p>
	<p>If your life expectancy calculator uses fixed mortality rates, you might consider adding a few years to its projection.</p>
</div>
</li>
<li>your current savings. This is the portion of your wealth that you are going to invest according to your retirement plan.
	<ul>
	<li>You might choose to exclude assets like the value of your home from this number. If so, the calculator will tell you the likelihood that your investments excluding your home will run out before you die.</li>
	<li>This can be a negative number if you currently owe debt. Calculations apply a moderate interest rate on debt.</li>
	</ul>
</li>
<li>your retirement plan. This is a list of life stages like <span class='stage'>working</span>, <span class='stage'>career break</span>, <span class='stage'>semi-retirement</span>, <span class='stage'>travel</span>, <span class='stage'>retirement</span> and <span class='stage'>old age</span>. You can add and remove stages by using the <img src='/static/plus.svg' /> and <img src='/static/minus.svg' /> icons. For each stage, enter...
	<ul>
	<li>the age at which you begin the stage. Enter your current age for Stage #1.</li>
	<li>the amount of money you will either contribute to or withdraw from your savings each year during the stage. You can switch between contributions and withdrawals for the stage with the <img src='/static/swap.svg' /> icon.</li>
	<li>a breakdown of the type of assets you will invest in during the stage.</li>
	</ul>
</li>
</li>
</ul>

<div class='aside'>
	Both your contributions and withdrawals will change over time according to inflation. But to make it easier to think about future amounts, calculations are done in pre-inflation currency. Enter values in today's dollars.
</div>

<h1><span class='site_name'>Will I Die Poor</span> is not...</h1>
<ul>
	<li>a market analyst that makes short term projection about investment returns. It considers a wide range of outcomes far into the future and incorporates the possibility of all of them into its projections.</li>
	<li>a financial advisor with opinions about what you should invest in.</li>
	<li>a health expert that can tell you anything about your life expectancy.</li>
</ul>

<a name='footnote1' />
<p class='footnote'>[1] <a href='https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310011401'>Table  13-10-0114-01   Life expectancy and other elements of the life table, Canada, all provinces except Prince Edward Island</a><p>
</div>
