<%page args='returns_models_parameters,trials' />
<%inherit file='/layout.htm' />

<div class='content'>
	<h1>Life Span</h1>
	<p>Typically, life expectancy is determined using a straightforward calculation from a set of mortality rates. Will I Die Poor's calculation goes the other way. Given life expectancy, it needs to determine the probability of dying in each year. To do this, it starts with average mortality rates, one for each year of life remaining. It then adjusts all of the rates up or down together, within the range of realistic values, until the mortality rates imply the given life expectancy.</p>
	<p>With these mortality rates, the likelihood of living to each age is calculated.</p>

	<h1>Future Wealth</h1>
	<p>Will I Die Poor uses year-by-year simulations of inflation and investment returns. The simulations were produced using models based on past data. These ${trials} simulations are pictured below. They are used to calculate ${trials} year-by-year simulations of future wealth.</p>
	<div class='asset' id='inflation'>
		<h2>Inflation</h2>
		<div class='flex'>
			<div class='simulation'>
				<svg class='rates' viewbox='.5 .25 180.5 100.25'>
					<path class='past' />
					<path class='data' />
				</svg>
				<a href onclick='updateData(-1);return false;' class='skip' class='skip'>&#x25C0;</a><span class='caption'>Simulation <span class='index'>1</span> of <span class='of'></span></span><a href onclick='updateData(1);return false;' class='skip'>&#x25B6;</a>
			</div>
			<div class='model'>
				<div class='distribution'>
					<div class='aspect'>Distribution: Log-normal</div>
					<div class='details'>average ${"{:.1f}".format(returns_models_parameters["inflation"]["facts"]["mu"]*100-100)}%</div>
				</div>
				<div class='distribution'>
					<div class='aspect'>Sampling: Metropolis-Hastings</div>
					<div class='details'>initially ${"{:.1f}%".format(returns_models_parameters["inflation"]["algorithm"]["initial"]*100-100)}</div>
				</div>
			</div>
		</div>
	</div>
	<div class='asset' id='fixed'>
		<h2>Fixed income</h2>
		<div class='flex'>
			<div class='simulation'>
				<svg id='fixed' class='rates' viewbox='.5 .25 180.5 100.25'>
					<path class='past' stroke='grey' fill='none' />
					<path class='data' stroke='blue' fill='none' />
				</svg>
				<a href onclick='updateData(-1);return false;' class='skip'>&#x25C0;</a><span class='caption'>Simulation <span class='index'>1</span> of <span class='of'></span></span><a href onclick='updateData(1);return false;' class='skip'>&#x25B6;</a>
			</div>
			<div class='model'>
				<div class='distribution'>
					<div class='aspect'>Distribution: Log-normal ratio to inflation</div>
					<div class='details'>average ${"{:.1f}".format(returns_models_parameters["fixed-over-inflation"]["facts"]["mu"]*100-100)}%</div>
				</div>
				<div class='distribution'>
					<div class='aspect'>Sampling: 4-year average of independent, identical distribution</div>
					<div class='details'></div>
				</div>
			</div>
		</div>
	</div>
	<div class='asset' id='developed'>
		<h2>Developed markets</h2>
		<div class='flex'>
			<div class='simulation'>
				<svg class='rates' viewbox='.5 .25 180.5 100.25'>
					<path class='past' stroke='grey' fill='none' />
					<path class='data' stroke='blue' fill='none' />
				</svg>
				<a href onclick='updateData(-1);return false;' class='skip'>&#x25C0;</a><span class='caption'>Simulation <span class='index'>1</span> of <span class='of'></span></span><a href onclick='updateData(1);return false;' class='skip'>&#x25B6;</a>
			</div>
			<div class='model'>
				<div class='distribution'>
					<div class='aspect'>Distribution: Log-normal</div>
					<div class='details'>average ${"{:.1f}%".format(returns_models_parameters["developed"]["facts"]["mu"]*100-100)}</div>
				</div>
				<div class='distribution'>
					<div class='aspect'>Sampling: Independent, identical distribution</div>
					<div class='details'></div>
				</div>
			</div>
		</div>
	</div>
	<div class='asset' id='emerging'>
		<h2>Emerging markets</h2>
		<div class='flex'>
			<div class='simulation'>
				<svg class='rates' viewbox='.5 .25 180.5 100.25'>
					<path class='past' stroke='grey' fill='none' />
					<path class='data' stroke='blue' fill='none' />
				</svg>
				<a href onclick='updateData(-1);return false;' class='skip'>&#x25C0;</a><span class='caption'>Simulation <span class='index'>1</span> of <span class='of'></span></span><a href onclick='updateData(1);return false;' class='skip'>&#x25B6;</a>
			</div>
			<div class='model'>
				<div class='distribution'>
					<div class='aspect'>Distribution: Log-normal ratio to developed markets</div>
					<div class='details'>
						average ${"{:.1f}%".format(returns_models_parameters["emerging-over-developed"]["facts"]["mu"]*100-100)},
					</div>
				</div>
				<div class='distribution'>
					<div class='aspect'>Sampling: Independent, identical distribution</div>
					<div class='details'></div>
				</div>
			</div>
		</div>
	</div>

	<h1>Aggregation</h1>
	<p>Once the ${trials} simulations of future wealth are calculated, they are smoothed to produce a distribution of possible wealths at each future age. This distribution is used to determine the expected wealth at each future age and, of course, the likelihood of having savings left at each future age.</p>
	<p>The overall likelihood of dying poor is the average likelihood of being poor at each age weighted by the likelihood of dying at each age.</p>
	</div>
