<%inherit file='/layout.htm' />

<div class='confirm' style='display:none;'>
	<p>Your form input will be saved in a cookie. You will not have to enter the same input when you return to this page.</p>
	<p>Click 'OK' to continue. Click 'Clear' to remove previously saved cookies. Click 'Cancel' to return without making changes.</p>
	<p class='actions'>
		<input type='button' onclick='document.cookie="inputs="+JSON.stringify(getInput());hideShowDialog(false);return false;' value='OK' />
		<input type='button' onclick='document.cookie="inputs=;expires=Thu, 01 Jan 1970 00:00:00 GMT";hideShowDialog(false);return false;' value='Clear' />
		<input type='button' onclick='hideShowDialog(false);return false;' value='Cancel' />
	</p>
</div>
<div class='dialogcontent working' style='display:none;'>Calculating...</div>
<div class='dialogcontent validation' style='display:none;'>
	<ul id="validationlist"></ul>
	<div class='actions'><input type='button' onclick='hideShowDialog(false);return false;' value='OK' /></div>
</div>
<div class='dialog' style='display:none;'></div>

<div class='template'>
	<div>
		<div class='sectiontop itemhead'>
			<input type='image' class='toggle' src='static/arrow.svg' onclick='togglePhase(this.parentElement.parentElement);return false;' />
			<span class='title'><span onclick='togglePhase(this.parentElement.parentElement);'>Stage #<span class='stageindex'></span>:</span> <input type='text' class='name' onclick='return false;' /></span>
			<input type='image' src='static/minus.svg' title='Remove Stage'
				onclick='this.parentElement.parentElement.parentElement.removeChild(this.parentElement.parentElement);updatePhaseSummaries();return false;' />
		</div>
		<div class='summary'></div>
		<div class='inputs'>

			<div>Age at start</div>
			<div></div>
			<div><input type='number' class='age' min='0' max='110' /></div>
			<div class='unit'><span class='textunitname'>yrs.</span></div>

			<div>
				<span class='selectedsavingsaction'>
					<span class='positive'>Contribution</span>
					<span class='negative'>Withdrawal</span>
				</span> 
				<span class='alternativesavingsaction' onclick='swapSavingsAction(d3.select(this.parentElement.parentElement));return false;'>
					(<input type='image' src='static/swap.svg' title='Switch between contribution and withdrawal' /><span class='positive'>w/d</span><span class='negative'>contrib.</span>)
				</span>
				<input type='hidden' class='savingsaction' value='-' />
			</div>
			<div class='prefix unit'><span class='currency'>&dollar;</span></div>
			<div><input type='number' class='contribution' min='0' step='100' value='20000' /></div>
			<div class='unit'><span class='textunitname'>/yr.</span></div>

			<div class='subhead'>Asset Mix</div>
			<div></div>
			<div></div>
			<div></div>

			<div>Developed markets</div>
			<div></div>
			<div><input type='number' class='developed' min='0' max='100' step='1' value='0' onblur='handleAssetBlur(this);updateCash(d3.select(this.parentElement.parentElement));' /></div>
			<div class='unit'><span>%</span></div>

			<div>Emerging markets</div>
			<div></div>
			<div><input type='number' class='emerging' min='0' max='100' step='1' value='0' onblur='handleAssetBlur(this);updateCash(d3.select(this.parentElement.parentElement));' /></div>
			<div class='unit'><span>%</span></div>

			<div>Fixed income</div>
			<div></div>
			<div><input type='number' class='fixed' min='0' max='100' step='1' value='0' onblur='handleAssetBlur(this);updateCash(d3.select(this.parentElement.parentElement));' /></div>
			<div class='unit'><span>%</span></div>

			<div>Cash equivalents</div>
			<div></div>
			<div><input type='number' class='cash' min='0' max='100' step='1' value='100' disabled /></div>
			<div class='unit'><span>%</span></div>

		</div>
	</div>
</div>
<div class='main'>
	<form novalidate autocomplete='off'><%doc>autocomplete off prevents restoring fields after the user clicks the back button. This can only partially work until the number of phases is restored before fields are populated.</%doc>
		<div class='content notflush'>
			<div>
				<!--<div class='instruction'>Enter Calculation Inputs and click Calculate to see how likely you are to outlive your savings.</div>-->
				<div class='inputs'>
					<div>Initial Savings</div>
					<div class='prefix unit'><span>&dollar;</span></div>
					<div><input type='number' id='initial_net_worth' min='0' step='1000' /></div>
					<div></div>
				</div>
				<div id='phases' class='phases'>
				</div>
				<div class='sectiontop itemhead'>
					<div></div><!-- grid layout cells -->
					<div></div>
					<input type='image' title='Add Stage' src='static/plus.svg' onclick='addPhase();updatePhaseSummaries();return false;' />
				</div>
				<div class='inputs sectiontop'>
					<div>Life Expectancy</div>
					<div></div>
					<div><input type='number' id='life_expectancy' min='0' max='110' /></div>
					<div class='unit'><span class='textunitname'>yrs.</span></div>
				</div>
				<div class='actions'>
					<input type='button' onclick='calculate();return false;' value='Calculate' />
				</div>
			</div>
		</div>
	</form>
	<div class='calculation'>
		<div id='summaryLikelihood' class='result summarylikelihood'>There is <span id='spanPoor'>unknown</span> chance you will die poor.</div>
	</div>
	<div class='content calculation chartcontainer'>
		<div id='chartcontainer1'>
			<div class='chart life'>
				<svg height='100%' width='100%' viewBox='0 0 408 306'>
				</svg>
			</div>
		</div>
		<div id='chartcontainer2' class='ageselected'>
			<div class='chart wealth'>
				<svg id='chart2' width='100%' height='100%' viewBox='0 0 72 306' preserveAspectRatio='xMidYMid meet'>
					<defs>
						<linearGradient id='greenRed' x1='0%' y1='0%' x2='0%' y2='100%'>
							<stop offset='0%' class='gradientgreen gradientopaque' />
							<stop offset='50%' class='gradientgreen gradientopaque' />
							<stop offset='50%' class='gradientred gradientopaque' />
							<stop offset='100%' class='gradientred gradientopaque' />
						</linearGradient>
						<linearGradient id='greenToRed' x1='0%' y1='100%' x2='0%' y2='0%'>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
	</div>
	<div class='ageselected content chartcontainer3'>
		<div class='atage'>At age<br /><span class='spanSelectedAge'></span>&hellip;</div>
		<div class='minigraph living'>
			<div>Still Living<br /><span></span></div>
			<div>
				<svg height='32px' width='32px' viewBox='-1 -1 2 2'>
					<path />
					<circle cx='0' cy='0' r='1' />
				</svg>
			</div>
		</div>
		<div class='minigraph wealthy'>
			<div>Still Wealthy<br /><span></span></div>
			<div>
				<svg height='32px' width='32px' viewBox='-1 -1 2 2'>
					<path />
					<circle cx='0' cy='0' r='1' />
				</svg>
			</div>
		</div>
		<div class='expectedwealth'>Expected Wealth<br />if still wealthy:<br /><span class='money'></span></div>
	</div>
</div>
<script>
	d3.selectAll(".noageselected").style("opacity", 1);
	d3.selectAll(".ageselected").style("opacity", 0);
	d3.selectAll(".nocalculation").style("opacity", 1);
	d3.selectAll(".calculation").style("opacity", 0);
	d3.select("body").on("keydown", function() { if (d3.event.keyCode == 27 && d3.select(".confirm").style("hidden") == "none") d3.selectAll(".dialog, .confirm, .validation").style("display", "none"); });
	var key = "inputs=";
	var matches = decodeURIComponent(document.cookie).split(";").map(a => a.trim()).filter(a => a.indexOf(key) == 0);
	if (matches.length > 0) {
		loadInput(JSON.parse(matches[0].substring(key.length)));
		d3.selectAll(".phases > div").classed("closed", true);
	} else {
		addPhase("Working", { "savingsaction": "+" });
		addPhase("Retirement", { "savingsaction": "-" });
		updatePhaseSummaries();
	}
	function sizeoutput() {
		var chartcontainer1 = document.getElementById("chartcontainer1");
		var chartcontainer2 = document.getElementById("chartcontainer2");
		var chart2 = document.getElementById("chart2");
		chartcontainer1.style.height = "" + (chartcontainer1.offsetWidth / 4 * 3) + "px";
		chartcontainer2.style.height = chartcontainer1.style.height;
		chart2.style.height = chartcontainer1.style.height;
	}
	sizeoutput();
</script>
