p {
	margin:0 0 12px 0;
}
.aside p {
	margin:0 0 8px 0;
}
.aside p:last-child {
	margin:0 0 0 0;
}
h1 {
	font-size:1.1em;
}
h2 {
	font-size:.9em;
	color:#666666;
}
.content {
	padding:8px;
	max-width:720px;
}
.site_name {
	color:#238823;
}
.actions {
	text-align:center;
}
li:not(:first-child) {
	padding-top:10px;
}
li:not(:first-child) li, li li {
	padding-top:0px;
}
a {
	color:#000066;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
.aside {
	border:solid 2px #c0c0c0;
	border-radius:4px;
	margin:6px;
	padding:4px;
	background-color:#f8f8f8;
	font-size:.8em;
}
.beaware {
	font-weight:bold;
}
.stage {
	text-transform:uppercase;
	font-size:.8em;
}
.footnote {
	font-size:.7em;
}
a.footnote {
	vertical-align:super;
}
.distribution {
	padding-top:4px;
	padding-bottom:6px;
	padding-left:20px;
}
.distribution .aspect {
	font-size:0.8em;
}
.distribution .details {
	font-size:0.65em;
}
.model {
	margin-top:16px;
}
.simulation {
	width:180px;
	padding:6px;
	text-align:center;
}
.flex {
	flex-direction:row;
}
.legend {
	color:#0000cc;
	font-size:.9em;
	vertical-align:super;
}
@media screen and (max-width:520px) {
	.flex {
		flex-direction:column;
	}
	.model {
		margin-top:0;
		margin-bottom:8px;
	}
}
