a {
	color:#999999;
	text-decoration:none;
}
a:hover {
	color:#333333;
}
.flex {
	display:inline-flex;
}
svg.rates {
	width:180px;
	height:100px;
}
svg.rates .past {
	stroke:grey;
	fill:none;
	opacity:.7;
}
svg.rates .data {
	stroke:blue;
	fill:none;
	opacity:.6;
}
svg.rates line {
	stroke:grey;
	stroke-width:1px;
}
svg.rates text {
	font-size:9px;
	fill:black;
}
svg.rates text.year {
	text-anchor:middle;
}
a.skip {
	font-size:16px;
}
span.caption {
	text-align:center;
	font-size:11px;
	width:130px;
	display:inline-block;
}
