body {
	font-family:Sans-serif;
	margin:0;
	font-size:1.1em;
}

.sidebar {
	margin:0;
	padding:0;
	width:200px;
	background-color:#f1f1f1;
	position:fixed;
	top:42px;
	height:100%;
	overflow:auto;
}

.sidebar a {
	display:block;
	color:#000000;
	padding:16px;
	text-decoration:none;
	border-top:solid 1px #f1f1f1;
}
 
.sidebar a.active {
	background-color:#238823;
	color:#ffffff;
}

.sidebar a:hover:not(.active) {
	background-color:#555;
	color:#ffffff;
}

div.container {
	margin-left:200px;
	margin-top:42px;
	margin-bottom:32px;
}

.header {
	z-index:1;
	background-color:#238823;
	font-size:1.3em;
	white-space:nowrap;
	padding:6px;
	position:fixed;
	left:0;
	right:0;
	top:0;
	height:30px;
}
.header a {
	color:#ffffff;
	text-decoration:none;
}
.header .hamburger {
	display:none;
	float:right;
}
.footer {
	z-index:1;
	background-color:#238823;
	color:#ffffff;
	padding:6px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:20px;
	text-align:right;
	font-size:.6em;
}
.footer img.twitter {
	height:16px;
	width:16px;
	padding:4px;
	vertical-align:middle;
}
.footer a.linkedin {
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}
@media screen and (max-width:720px) {
	.sidebar {
		width:100%;
		height:auto;
		position:relative;
	}
	.sidebar a {float:left;}
	div.container
	{
		margin-left:0;
		margin-bottom:0;
	}
	.header {
		position:absolute;
	}
	.footer {
		position:static;
	}
}

@media screen and (max-width:520px) {
	.sidebar {
		width:200px;
		height:auto;
		position:absolute;
		right:0;
	}
	.sidebar a {
		text-align:right;
		float:none;
	}
	.sidebar.collapsed {
		display:none;
	}

	.header .hamburger {
		display:block;
	}
	.header { position:absolute; }
}
.ageselected {
	background-color:#f1f1f1;
}
