.main {
	z-index:0;
}
.main > div {
	top:1px;
	bottom:0;
	left:0;
	right:0;
}

/* dialogs */
.dialog {
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:3;
	background-color:#ffffff;
	opacity:.8;
}
.dialogcontent {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:4;
}
.working {
	padding-top:60px;
	text-align:center;
	opacity:1;
}
.validation {
	bottom:0;
	background-color:white;
	opacity:.8;
}
.confirm {
	position:fixed;
	top:20px;
	right:20px;
	left:20px;
	z-index:4;
	background-color:white;
	text-align:center;
	opacity:1;
	border:solid 2px #333333;
	padding:10px;
	border-radius:6px;
}
.confirm p:first-child {
	font-size:1.2em;
}

/* input */
div.template {
	display:none;
}
input {
	border-radius:3px;
	padding:1px;
	width:100%;
	font-size:1.1em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance:none; 
}
input[type=number] {
	-moz-appearance:textfield; /* Firefox */
	text-align:right;
	width:124px;
	background-color:#f6f6f6;
	border:none 1px #eeeeee;
	border-bottom:solid 1px #cccccc;
}
input[type=text] {
	width:124px;
	background-color:#f6f6f6;
	border:none 1px #eeeeee;
	border-bottom:solid 1px #cccccc;
}
.phases .closed .summary {
	display:block;
}
.phases .summary {
	display:none;
}
.phases .toggle {
	transform:rotate(45deg);
	height:16px;
	width:16px;
	padding:2px;
	border-radius:12px;
}
.phases .toggle:focus {
	outline:none;
	border:dotted 1px currentcolor;
}
.phases .closed .toggle {
	transform:rotate(0deg);
}
.title {
	padding-top:4px;
}
.inputs {
	display:grid;
	grid-template-columns:auto 20px 128px 20px;
	grid-row-gap:4px;
}
.phases .inputs {
	padding:0 0 0 10px;
}
.closed .inputs {
	display:none;
}
.phases .inputs .subhead {
	text-transform:uppercase;
	font-size:.6em;
	color:#999999;
}
div.sectiontop {
	border-top:dashed 1px #cccccc;
	margin:8px 0;
	padding:6px 0;
}
div.itemhead {
	text-transform:uppercase;
	font-size:0.8em;
	display:grid;
	grid-template-columns:20px auto 20px;
	height:24px;
}
div.itemhead input {
	align-self:center;
	justify-self:center;
	border-style:none;
}
div.itemhead .name {
	text-transform:uppercase;
	background-color:#f6f6f6;
	border:none 1px #eeeeee;
	border-bottom:solid 1px #cccccc;
	width:180px;
}
.prefix {
	text-align:right;
}
.unit span {
	vertical-align:-4px;
}
.textunitname {
	font-size:.6em;
	vertical-align:-4px;
}
.alternativesavingsaction {
	font-size:.7em;
	color:#666666;
	white-space:nowrap;
	cursor:pointer;
}
.alternativesavingsaction input {
	vertical-align:middle;
	width:16px;
	height:16px;
}

/* charts */
div.chart svg {
	font-size:12px;
}
div.chart.life svg {
	touch-action:none;
}
.axis g {
	font-size:9px;
}
.actions {
	text-align:center;
}
.actions input {
	border-style:solid;
	border-width:1px;
	border-color:black;
	border-radius:3px;
	width:120px;
	justify-self:center;
	background-color:#ffbf00;
	margin:8px 12px;
	padding:0 10px;
	cursor:pointer;
}
.gradientred {
	stop-color:#d2222d;
}
.gradientgreen {
	stop-color:#238823;
}
.greenarea {
	fill:#238823;
}
.greyarea {
	fill:#d2222d;
}
.gradientopaque {
	stop-opacity:1;
}
.result {
	background-color:#238823;
	color:#ffffff;
	margin:4px 0;
	padding:6px;
	font-size:1.3em;
	white-space:nowrap;
}
.instruction {
	font-size:0.8em;
	padding:6px;
}
.content {
	max-width:720px;
}
.notflush {
	padding:8px;
}
.minigraph {
	text-align:center;
}
.minigraph div {
	padding-top:8px;
	float:left;
}
.living div path, .living div circle {
	fill:#ffbf00;
}
.wealthy path, .wealthy circle {
	fill:#238823;
}
.expectedwealth span.money {
	font-size:.8em;
}
.borders div {
	border:solid 1px black;
}
.summary {
	padding-left:10px;
	font-size:0.8em;
}
.summarylikelihood {
	opacity:0;
	overflow:hidden;
	margin-bottom:0;
	font-size:1em;
}
.chartcontainer {
	display:grid;
	grid-template-columns:auto 72px;
}
.chartcontainer3 {
	display:grid;
	grid-template-columns:25% 25% 25% 25%;
	font-size:.75em;
	text-align:center;
}
.chartcontainer3 .atage {
	font-size:1em;
	text-transform:uppercase;
	padding-top:7px;
}
g.divider line {
	stroke:black;
	stroke-dasharray:4 2;
	opacity:.25;
}
g.divider line:first-child {
	opacity:0;
}
g.divider text {
	fill:black;
	opacity:.75;
	font-size:.6em;
}
.thermometertick {
	stroke:black;
	stroke-width:2;
	stroke-opacity:.4;
}
.hovertarget {
	pointer-events:all;
	opacity:0;
}
.focus {
	stroke:rgb(0, 0, 0);
	stroke-width:4;
}
